.md-calendar-booking {
  height: 75vh;
  /* Задает высоту 75% от видимой области */
  display: flex;
  justify-content: space-between;
  /* Распределяет элементы вертикально */
}

.calendar {
  width: 1060px;
}

.mbsc-form-group {
  flex-grow: 1;
  /* Занимает оставшееся пространство */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mbsc-form-group button {
  border-radius: 10px;
  margin-top: 20px;
}

.booking-datetime {
  flex-grow: 1;
  overflow-y: auto;
  /* Добавляет прокрутку, если контент превышает высоту */
}

.selected-dates {
  position: relative;
  border: 1px solid;
  width: 33%;
}

.selected-dates ul {
  list-style: none;
  padding: 0;
}

.selected-dates li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

button {
  background-color: #4D7D6D;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin: 0 auto;
}

button:hover {
  background-color: #54947e;
}

.delete-btn {
  background-color: #4D7D6D;
  color: white;
  border: none;
  height: 30px;
  cursor: pointer;
  margin: 0 auto;
  margin-right: 20px;

}

.mbsc-ios.mbsc-timegrid-item.mbsc-selected {
  background-color: #4D7D6D;
  /* Цвет выбранных дат */
  color: white;
  /* Цвет текста в выбранной дате */
}

.mbsc-ios.mbsc-selected .mbsc-calendar-cell-text {
  background: #4D7D6D;
  border-color: rgb(0, 255, 34);
  color: #fff;
}

.mbsc-ios.mbsc-calendar-button.mbsc-button {
  color: #4D7D6D;
}

.mbsc-ios.mbsc-datepicker-inline {
  background: #fff;
  border-color: #ccc;
  color: #000;
  margin: 0 auto;
  width: 81%;
}

.mbsc-form-group-title {
  margin: 0 auto;
  width: 75%;
}

.next-btn {
  position: absolute;
  bottom: 25px;
  width: 100px;
  left: 130px;

}

.next-btn button {
  border-radius: 10px;
}


.booking-datetime .mbsc-selected {
  background-color: #007bff; /* Цвет фона для выделенных дат */
  color: #fff; /* Цвет текста для выделенных дат */
}

.booking-datetime .mbsc-selected .mbsc-timegrid-cell {
  background-color: #28a745 !important; /* Цвет фона для выбранного времени */
  color: #fff !important; /* Цвет текста для выбранного времени */
}


@media (max-width: 500px) {
  .calendar {
    width: 100%;
  }
  .md-calendar-booking{
    display: block;
  }
  .selected-dates{
    
    width: 100%;
  }
  .mbsc-form-group{
    margin: 0;
    margin-bottom: 10px;
  }
  .mbsc-form-group button{
    margin-top: 0;
  }
  .calendar-footer{
    display: none;
  }
  .next-btn{
    position:unset;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}