/* AuthForms.css */
.auth-form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    height: max-content;
    max-height: 60vh;
    overflow-y: auto;

}

.auth-form-container::-webkit-scrollbar {
    width: 8px;
    /* Ширина скроллбара */
}

.auth-form-container::-webkit-scrollbar-thumb {
    background-color: #4D7D6D;
    /* Цвет ползунка */
    border-radius: 10px;
    /* Округление ползунка */

}

.auth-form-container::-webkit-scrollbar-thumb:hover {
    background-color: #558c79;
    /* Цвет ползунка при наведении */

}


.auth-form-container h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
    padding: 0;
}

.auth-form-container input {
    width: 100%;
    padding: 15px;
    padding-left: 50px;
    margin-bottom: 15px;
    border: #F4F4F4;
    border-bottom: 1px solid #000000;
    background-color: #F4F4F4;
    border-radius: 4px;
    font-size: 1em;
    color: #333;
    box-sizing: border-box;
}

.auth-form-container button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1.2em;
    color: #fff;
    background-color: #205C48;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.auth-form-container button:hover {
    background-color: #218838;
}

.auth-form-container p {
    text-align: center;
    color: #218838;
    font-size: 1em;
}

.field{
    position: relative;
}

.field img{
    position: absolute;
    top: 13px;
    left: 13px;
}

.reg-order-btn{
    background-color: #205C48;
}