/* Languages.css */
body {
  background-color: #F8F8F8;
}

.main {
  width: 70%;
  height: 74vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;

}

.container {
  position: relative;
  display: flex;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  /* margin-top: 100px; */
  border-radius: 14px;
}

.container-items-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.languages-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #333;
  font-size: 28px;
}

.loading {
  text-align: center;
  font-size: 1.5rem;
  color: #007bff;
}

.error {
  text-align: center;
  font-size: 1.5rem;
  color: #ff0000;
}

.school-data {
  overflow-y: auto;
  padding: 0 20px 0 20px;
  margin: 0 auto;
  width: 40%;
  height: 51vh;
}

.school-data-title {
  font-size: 1.5rem;
  color: #555;
  margin-bottom: 1rem;
}

.language-item {
  background-color: #4D7D6D;
  margin: 0 auto;
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  border-radius: 14px;
  margin-bottom: 3rem;
  padding: 10px 0 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.count-elements {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.language-item p {
  margin: 10px;
}

.language-item:hover {
  transform: translateY(-5px);
}

.language-link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease;
  width: 30%;
}

.language-link:hover {
  color: #007bff;
}

.logo {
  position: absolute;
  top: -40px;
  left: 0;

}

.logo-items {
  margin-left: 80px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo-items img {
  margin-right: 10px;
  position: relative;
  width: 70px;
  height: 70px;
}


.logo-name {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  margin-top: 10px;
}

.logo-name span {
  color: #F8C744;
  font-size: 20px;
  font-weight: 900;
  line-height: 24px;

}

.select-date-link,
.teacher-link {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.teacher-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-date-link button {
  background-color: #4D7D6D;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.teacher-link:hover,
.select-date-link:hover {
  color: #0056b3;
}

@media (max-width: 500px) {
  .main {
    height: 75vh;
    width: 100%;
  }

  .school-data {
    width: 60%;
    height: 37vh;
  }

  .logo-name {
    font-size: 16px;
  }

  .logo-name span {
    font-size: 18px;
  }

  .languages-title {
    font-size: 24px;
  }

  .logo-items img {
    width: 60px;
    height: 60px;
  }

  .logo-items {
    margin-left: 20px;
  }

  .logo {
    top: -30px;
  }
}