.teacher-title {
  font-size: 28px;
}

.teacherData {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 90%;

}

.select-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.select-btn p {
  background-color: #4D7D6D;
  padding: 12px;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.teacherImg {
  width: 40%;
 
}

.teacherImg img {
  display: flex;
  width: 115px;
  height: 115px;
  border-radius: 10px;
}

.teachers-data {
  overflow-y: auto;
  padding: 0 20px 0 20px;
  margin: 0 auto;
  width: 80%;
  height: 51vh;
}

.name-and-btn {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.selectDateAndCount {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
}

.select-count input {
  margin-top: 5px;
}

@media (max-width: 500px) {
  .name-and-btn {
    display: block;
  }

  .teacherData {
    width: 100%;
  }

  .selectDateAndCount {
    width: 80%;
  }

}